@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=UnifrakturMaguntia&display=swap');

@keyframes link-up {
    0% {top: 0; left: 0;}
    100% {top: -5%; left: 5%;} 
}

@keyframes shadow {
    0% {box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.5)}
    100% {box-shadow: -6px 6px 10px -4px;}
}

@keyframes apparition {
    0% {left: -100%;}
    100% {left: 0;}
}

@keyframes apparition2 {
    0% {left: -150%;}
    100% {left: 0;}
}

@keyframes loader {
    0% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes spin {
    0% {transform: rotate(0deg); opacity: 1;}
    25% {transform: rotate(360deg);}
    50% {transform: rotate(720deg);}
    75% {transform: rotate(1080deg); opacity: 1;}
    100% {transform: rotate(1440deg); opacity: 0;}
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 1.9rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
}

h1, h2, h3, p {
    color: black;
}

ul {
    margin: 1%;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: initial;
}

i {
    font-size: 0.75rem;
    color: #0065FC;
}

article {
    display: flex;
}

article:hover {
    animation: shadow 0.2s forwards;
}

form {
    display: flex;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    width: 1339px;   
    justify-content: space-between;
    margin-left: 50px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grey {
    color: #F2F2F2;
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 0;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #0065FC;
    border-radius: 50%;
    animation: spin 3s;
}

#page {
    width: 1440px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    margin: auto;
    opacity: 0;
    animation: loader 3.1s forwards;
}

header div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
    margin-top: 44px;
    margin-left: 55px;
    margin-right: 67px;
}

header div:nth-child(1) img{
    width: 62px;
    height: 20px;
    transition: all 0.5s;
}

header div:nth-child(1) img:hover {
    transform: scale(1.5);
}

header div:nth-child(1) nav {
    margin-right: -40px;
}

header div:nth-child(1) ul {
    text-align: center;
    display: flex;
}

header div:nth-child(1) li a {
    transition: all 0.5s;
    border-top: 4px solid white;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
}

header div:nth-child(1) ul li:nth-child(2) a { 
    padding-left: 70px;
    padding-right: 70px;
}

header div:nth-child(1) li a:hover {
    color: #0065FC;
    border-top:4px solid #0065FC;
}

header div:nth-child(1) li:nth-child(2) {
    margin-right: auto;
}

header div:nth-child(2) {
    margin-left: 50px;
}

header div:nth-child(2) h2 {
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: 300;
}

form i {
    width: 50px;
    height: 50px;
    border-radius: 20px 0 0 20px;
    background-color: #F2F2F2;
    padding-left: 20px;
    padding-top: 15px; 
    color: black;
    font-size: 1.2rem;
}

form label {
    display: none;
}

form input {
    height: 50px;
    width: 200px;
    border-color: rgba(0,0,0,0.1);
    border-left: 0;
    border-right: 0;
    padding-left: 10px;
}

form ::placeholder {
    font-weight: 700;
    font-size: 1rem;
    color: rgba(0,0,0,1);
    font-family: 'Raleway', sans-serif;
}

form input:last-child {
    width: 132px;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    border-left: 0;
    padding-left: 0;
}

form span img {
    display: none;
}

.filtres {
    font-weight: 700;
    margin-top: 15px;
}

.filtres p {
    margin-top: 25px;
}

.filtres ul {
    display: flex;
    margin-left: 36px;
}

.filtres li {
    margin-right: 50px;
    border: 2px rgb(0, 0, 0, 0.2) solid;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px;
    display: flex;
}

.filtres li::before {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 1px;
    color: #0065FC;
    font-family: "Font Awesome 5 Free";
    transform: scale(1.3);
}

.filtres li:hover {
    background-color: #DEEBFF;
}

.filtres li:nth-child(1):before {
    content: "\f53a";
}

.filtres li:nth-child(2):before {
    content: "\f183";
}

.filtres li:nth-child(3):before {
    content: "\f004";
}

.filtres li:nth-child(4):before {
    content: "\f6d3";
}

header div:nth-child(2) div:last-child{
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
}

header div:nth-child(2) div:last-child i {
    border: 1px #D9D9D9 solid;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    padding-left: 8px;
    padding-top: 3px;
    margin-right: 8px;
}

#hebergements {
    width: 880px;
    margin-right: 40px;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 50px;
    position: relative;
    left: -100%;
    animation:2s apparition 3s forwards;
}

#hebergements h2:first-of-type {
    margin-left: 38px;
    margin-top: 40px;
}

#hebergements h3:last-child {
    margin-left: 31px;
    margin-top: 40px;
}

#hebergements > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    margin-left: 25px;
}

#hebergements article {
    width: 246px;
    border-radius: 20px;
    margin-top: 3%;
    background-color: white;
    box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.5);
}

#hebergements div:nth-child(2) {
    padding-left: 12px;
    padding-bottom: 5px;
}

#hebergements figure img {
    width: 246px;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

#hebergements div:nth-child(3) i {
    width: 12px;
    height: 12px;
    margin-right: -2px;
}

#hebergements a:nth-child(7) {
    margin-top: 40px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 5px;
}

#hebergements p {
    margin-bottom: 5px;
}

#populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 420px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: -150%;
    animation:2s apparition2 4s forwards;
}

#populaires div:first-child {
    display: flex;
    margin-top: 30px;
}

#populaires div:first-child i {
    margin-top: 3%;
    font-size: 1.2rem;
}

#populaires h2 {
    margin-right: 100px;
    margin-left: 15px;
}

#populaires h3 {
    padding-bottom: 7px;
}

#populaires article {
    height: 144px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 33px;
    box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.5);
}

#populaires a {
    display: flex;
}

#populaires a div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

#populaires a div > div {
    flex-direction: row;
    margin: 0;
}

#populaires figure img {
    width: 137px;
    height: 144px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
}

#populaires div:nth-child(2) > div:first-child {
    margin-top: 0;
    flex-direction: column;
    justify-content: space-between; 
}

#populaires div:nth-child(2) i {
    width: 12px;
    height: 12px;
    margin-right: 2px;
}

#activites {
    margin-top: 60px;
    margin-bottom: 5%;
    width: 1337px;
    margin-left: 50px;
    position: relative;
    left: -150%;
    animation:2s apparition2 5s forwards;
}

#activites div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#activites article {
    margin-top: 18px;
    box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.5);
    border-radius: 20px;
}

#activites h3 {
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#activites figure img {
    width: 302px;
    height: 444px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

footer nav {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 70px;
    margin-bottom: 40px;
}

footer h3 {
    margin-bottom: 20px;
}

footer ul {
    width: 200px;
}

footer li {
    margin-bottom: 12px;
}

footer nav li {
    position: relative;
}

footer nav li:hover {
    animation: link-up 0.5s forwards;
}




@media screen and (max-width: 1024px) {
    header {
        margin-left: 15px;
        margin-right: 15px;
    }

    h1 {
        font-size: 1.3rem;
    }
    
    h2 {
        font-size: 0.8rem;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #spin {
        top: 45%;
        left: 45%;
    }

    #page {
        width: 1024px;
        margin: auto;
    }

    header div:nth-child(1) {
        margin-right: 80px;
    }

    header div:nth-child(1) nav {
    margin-right: -50px;
    }

    header div:nth-child(1) li a {
        padding-left: 45px;
        padding-right: 35px;
        padding-top: 45px;
    }

    header div:nth-child(1) ul li:nth-child(2) a {
        padding-left: 45px;
        padding-right: 70px;
    }

    header div:nth-child(1) a {
        font-size: 0.9rem;
    }
    
    #main {
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 30px;
    }

    #hebergements h2 {
        font-size: 1.2rem;
    }

    #populaires {
        width: 880px;
        align-items: initial;
        margin-top: 53px;
        margin-left: 13px;
    }

    #populaires div:nth-child(1) {
        margin-bottom: 20px;
        justify-content: space-between;
    }

    #populaires div:nth-child(1) h2 {
        font-size: 1.2rem;
        margin-left: 35px;
    }

    #populaires div:nth-child(1) i {
        margin-top: 0;
        margin-right: 40px;
    }

    #populaires div:nth-of-type(2){
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
    }

    #populaires div:nth-child(2) div:nth-child(2) div:nth-child(2) {
        margin-left: -20px;
    }

    #populaires article {
        margin-left: 10px;
        margin-right: 10px;
        width: 250px;
    }
    
    #populaires figure img {
        width: 106px;
        height: 144px;
    }

    #populaires article h3 {
        font-size: 0.9rem;
        width: 115px;

    }

    #populaires article p {
        font-size: 0.8rem;
    }

    #activites {
        width: 878px;
        margin-left: 0;
    }

    #activites h2 {
        font-size: 1.3rem;
    }

    #activites h3 {
        text-align: left;
        width: 150px;
        height: 65px;
        align-items: center;
        display: flex;
    }

    #activites figure img {
        width: 182px;
        height: 211px;
    }

    footer {
        width: 880px;
        margin-left: 0;
        align-self: center;
    }

    footer nav {
        margin-right: 0;
    }
}

@media screen and (max-width: 375px) {
    header {
        margin: 0;
    }
 
    #spin {
        top: 40%;
        left: 35%;
    }

    #page {
        width: 375px;
        padding: 0;
        margin: auto;
    }

    header div:nth-child(1) {
        flex-direction: column;
        margin-top: 21px;
        margin-right: 50px;
    }

    header div:nth-child(1) > a {
        text-align: center;
        margin-bottom: 50px;      
    }

    header div:nth-child(1) ul li a {
        font-size: 1rem;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        border-top: none;
        border-bottom: 4px solid white;
        padding-bottom: 23px;
    }

    header div:nth-child(1) li a:hover {
        border-top: none;
        border-bottom: 4px solid #0065FC;
    }

    header div:nth-child(1) ul li:nth-child(1) a{
        margin-left: -58px;
        padding-right: 20px;
        padding-left: 48px;
    }

    header div:nth-child(1) ul li:nth-child(2) a {
        padding-left: 56px;
    }

    header div:nth-child(2) {
        margin: 0;
    }

    header div:nth-child(2) h1 {
        padding-left: 20px;
        font-size: 1.5rem;
    }

    header div:nth-child(2) h2 {
        padding-left: 20px;
        font-size: 1.1rem;
        margin-bottom: 36px;
    }

    form {
        padding-left: 15px;
        padding-right: 21px;
    }

    form input {
        width: 234px;
    }

    form input:last-child {
        width: 55px;
    }

    form input[value=Rechercher] {
        font-size: 1rem;
        color: #0065FC;
    }

    form span {
        position: relative;
    }

    form span img {
        display: unset;
        color: #0065FC;
        position: absolute;
        width: 24px;
        left: 14px;
        top: 13px;
    }

    .filtres {
        flex-direction: column;
    }

    .filtres p {
        padding-left: 20px;
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .filtres ul {
        flex-wrap: wrap;
        margin: 0;
        justify-content: space-around
    }

    .filtres li {
        width: 160px;    
        font-size: 0.7rem;
        margin: 10px;
        align-items: center;
    }

    .filtres li:nth-child(n):before {
        transform: scale(1.8);
    }

    header div:nth-child(2) div:last-child {
        margin-left: 15px;
    }

    #main {
        margin: 0;
    }

    #hebergements {
        order: 1;
        background-color: white;
        height: inherit;
        margin: 0;
        width: inherit;
        animation:2s apparition 4s forwards;
    }

    #hebergements > div {
        margin: 0;
    }

    #hebergements div:nth-child(2) {
        padding-left: 17px;
    }

    #hebergements h2:first-of-type {
        margin-left: 21px;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 1.4rem;
    }

    #hebergements article {
        width: inherit;
    }

    #hebergements figure img {
        width: 335px;
        height: 124px;
    }

    #hebergements a:nth-child(7) {
        display: none;
    }

    #populaires {
        width: 375px;
        margin: 0;
        border-radius: 0;
        animation:2s apparition 3s forwards;
    }

    #populaires div:nth-child(1) h2{
        font-size: 1.4rem;
        margin-left: 28px;
    }

    #populaires div:nth-child(1) i {
        margin-top: 5px;
        font-size: 1.3rem;
        margin-right: 21px;
    }

    #populaires div:nth-child(2) {
        flex-direction: column;
    }

    #populaires article {
        width: inherit;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #populaires article h3 {
        font-size: 1.1rem;
        width: 150px;
    }

    #populaires article p {
        font-size: 0.9rem;
    }

    #populaires div:nth-of-type(2) {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 47px;
    }

    #populaires figure img {
        width: 137px;
        height: 144px;
    }

    #populaires div:nth-child(3) img {
        transform: scale(1.1);
        margin-left: 2px;
    }

    #populaires div:nth-child(2) > div:nth-child(2) {
        flex-direction: row;
    }

    #populaires div:nth-child(2) div:nth-child(2) div:nth-child(2) {
        margin-left: -7px;
        padding-bottom: 0;
    }

    #activites {
        width: 375px;
        margin-top: 100px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
    }

    #activites div {
        flex-direction: column;
        align-items: center;
    }

    #activites h2 {
        margin-left: 20px;
        width: 120px;
        font-size: 1.5rem; 
    }

    #activites article{
        width: 334px;
    }

    #activites figure img {
        width: 334px;
        height: 134px;
    }

    #activites h3 {
        width: inherit;
    }

    footer {
        flex-direction: column;
        margin: 0;
        width: 375px;
    }

    footer nav {
        margin-left: 30px;
        margin-bottom: 5px;
    }

    footer nav h3 {
        font-size: 1.1rem;
    }

    footer nav ul {
        margin: 0;
    }
    
}














